<ion-header>
  <ion-toolbar>
    <ion-title>
      My QUICKLIST
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list *ngIf="checklists">
    <ion-item *ngFor="let checklist of checklists" (click)="goToChecklist(checklist)">
      <ion-label>{{ checklist.getChecklistName() }}</ion-label>
    </ion-item>
  </ion-list>
  <ion-list> 
    <ion-item>
      <ion-input [(ngModel)]="newChecklistName" type="text" placeholder="Checklist Name"></ion-input>
    </ion-item>
  </ion-list>
  <ion-button (click)="addChecklist(newChecklistName)">Add</ion-button>
</ion-content>
